@page "/explore"
@inject NavigationManager navMan
@inject ShareSphere.Data.FirebaseDatabase firebaseDatabase

<div id="search-div">
    <input type="text" id="username-input" @bind="@userSearch" @onkeydown="@Enter" class="form-control" placeholder="Search">
</div>

<div class="scroll-container">
    <div class="scroll-content">
        <div class="row flex-row flex-nowrap">
            <div class="col-auto">
                <button class="select-game-btn">Fall Guys</button>
            </div>
            <div class="col-auto">
                <button class="select-game-btn">Apex Legends</button>
            </div>
            <div class="col-auto">
                <button class="select-game-btn">Horizon Zero Dawn</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string userSearch;

    async void search()
    {
        if (userSearch.Length >= 3)
        {
            navMan.NavigateTo("/profile/userSearch");
        }

    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            search();
        }
    }
}