@page "/explore"
@using ShareSphere.Data;
@inject NavigationManager navMan
@inject FirebaseDatabase db
@inject FirebaseAuthentication firebaseAuth

<div id="search-div">
    <input type="text" id="username-input" @bind="@userSearch" @onkeyup="@Enter" class="form-control" placeholder="Search">
</div>

<div class="scroll-container">
    <div class="scroll-content">
        <div class="row flex-row flex-nowrap">
            <div class="col-auto">
                <button class="select-game-btn">Fall Guys</button>
            </div>
            <div class="col-auto">
                <button class="select-game-btn">Apex Legends</button>
            </div>
            <div class="col-auto">
                <button class="select-game-btn">Horizon Zero Dawn</button>
            </div>
        </div>
    </div>
</div>

@foreach (Post iterate in posts)
{
    <PostComponent post="@iterate" isDelete="@isDelete" />

}

<p id="infinity-scroll-end">
    Seems like you have spent quite some time on our app.<br />
    <i class="bi bi-chat-heart-fill"></i><br />
    Thank you!
</p>

@code {
    private string userSearch = "";
    private List<Post> posts = new List<Post>();
    private List<string> gamerNames = new List<string>();
    private bool isDelete = false;

    protected async override void OnInitialized()
    {
        posts = await db.getAllPosts();
        StateHasChanged();
    }

    async void search()
    {
        if (userSearch.Length >= 3)
        {
            navMan.NavigateTo("/profile/" + userSearch);
        }

    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Key.ToLower() == "numpadenter" || e.Key.ToLower() == "enter")
        {
            search();
        }
    }
}