@page "/forMe"
@using ShareSphere.Data;
@inject FirebaseDatabaseGamer db
@inject FirebaseAuthentication firebaseAuth

<div id="post">
    <div class="row">
        <div id="post-header-div" class="col">
            <div class="row">
                <div id="profile-image-div" class="col-auto">
                    <img src="/images/bot_fill.png" id="profile-image" class="img-icon" />
                </div>
                <div id="profile-name-div" class="col-auto">
                    <p id="profile-name">Quicktey</p>
                </div>
                <div class="col"></div>
                <div class="col-auto">
                    <div id="profile-join-btn-div">
                        <button id="profile-join-btn" class="gradient-btn" onclick="@joinBtnClicked">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="post-video-div" class="col">
            <video id="post-video" autoplay muted loop class="w-100">
                <source src="/videos/Demo_Video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row">
        <div id="post-interact-div" class="col">
            <div class="row">
                <div id="wp-image-btn-div" class="col-auto">
                    <button id="wp-image-btn" class="interact-btn">WP</button>
                </div>
                <div id="comment-image-btn-div" class="col-auto">
                    <button id="comment-image-btn" class="interact-btn">
                        <i class="bi bi-chat-square-text-fill" />
                    </button>
                </div>
                <div class="col"></div>
                <div id="bookmark-image-btn-div" class="col-auto">
                    <button id="bookmark-image-btn" class="interact-btn">
                        <i class="bi bi-bookmark-fill" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="post-comment-div" class="col">
            <p id="post-comment">Quicktey: Test Post for layout</p>
        </div>
    </div>
</div>

@code {

    private async void joinBtnClicked(Gamer gamer)
    {
        Gamer loggedInGamer = await db.getGamerByUid(firebaseAuth.getClient().User.Uid);
        if (!loggedInGamer.joins(gamer))
        {
            loggedInGamer.addJoins(gamer);
        }
        else
        {
            loggedInGamer.removeJoins(gamer);
        }
        db.updateGamer(loggedInGamer);
    }
}
