@page "/login"

<form id="register-form">
    <h3>Login</h3>
    <div class="form-group">
        <label for="email-input">E-Mail</label>
        <div id="email-input-div">
            <input type="email" id="email-input" class="form-control box" placeholder="E-Mail">
        </div>
    </div>
    <div class="form-group">
        <label for="password-input">Password</label>
        <div id="password-input-div">
            <input type="password" id="password-input" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <button id="register-btn" class="btn gradient-btn btn-block">Login</button>
    </div>
    <div id="switch-link-div" class="form-group">
        <a href="register.html">Go to registration</a>
    </div>
</form>

@code {

}
