@page "/profile/{user}"
@using ShareSphere.Data;

<div class="profile-info my-2">
    <div class="row">
        <div class="col-3 mr-1 py-2">
            <img src="/images/bot_fill.png" class="rounded-circle profile-info-icon" />
        </div>
        <div class="col-9 ml-1">
            <div class="row username">@gamer.getUsername()</div>
            <div class="row">
                <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">PC</div>
                <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">PS5</div>
                <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">Switch</div>
            </div>
            <div class="row games">
                <div class="col">
                    @if(gamer.getGames().Count > 0)
                    {
                        @foreach (int i in gamer.getGames())
                        {
                            <span>/ Game Nr. @i /</span>
                        }
                    } else
                    {
                        <span>Keine Games ausgewählt</span>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @gamer.getBiography()
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div id="join-btn-div">
                <button id="join-btn" class="gradient-btn btn-block">Join</button>
            </div>
        </div>
    </div>
</div>
<div class="profile-posts text-center h-100 align-items-center">
    <div>No content added yet</div>
</div>

@code {
    [Parameter]
    public Gamer gamer { get; set; }

}

