@page "/profile"
@using ShareSphere.Data
@inject FirebaseAuthentication firebaseAuth
@inject FirebaseDatabase db

<div class="profile-info my-2">
    <div class="row">
        <div class="col-3 mr-1 py-2">
            <img src="/images/bot_fill.png" class="rounded-circle profile-info-icon" />
        </div>
        <div class="col-9 ml-1">
            <div class="row username">
                <div class="col">
                    @gamer.username
                </div>
            </div>
            <div class="row">
                @if (gamer.platforms.Count > 0)
                {
                    @foreach (int i in gamer.platforms)
                    {
                        <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">@i</div>
                    }
                }
                else
                {
                    <span>Keine Plattform ausgewählt</span>
                }
            </div>
            <div class="row games">
                <div class="col">
                    @if (gamer.games.Count > 0)
                    {
                        @foreach (int i in gamer.games)
                        {
                            <span>/ Game Nr. @i /</span>
                        }
                    }
                    else
                    {
                        <span>Keine Games ausgewählt</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                @gamer.biography
        </div>
    </div>
    <div class="row my-2 text-center">
        <div class="col">
            <div id="add-post-btn-div">
                <button id="add-post-btn" class="gradient-btn w-100">Add post</button>
            </div>
        </div>
        <div class="col">
            <div id="settings-btn-div">
                <button id="settings-btn" class="gradient-btn w-100">Settings</button>
            </div>
        </div>
    </div>
</div>
<div class="profile-posts text-center h-100 align-items-center">
    <div>No content added yet</div>
</div>

@code {
    Gamer gamer;

    protected async override void OnInitialized()
    {
        gamer = await db.getGamerByUid(firebaseAuth.getClient().User.Uid);
    }
}
