@page "/profile"

<div class="body">
    <div class="profile-info my-2">
        <div class="row">
            <div class="col-3 mr-1 py-2">
                <img src="/images/bot_fill.png" class="rounded-circle profile-info-icon" />
            </div>
            <div class="col-9 ml-1">
                <div class="row username">Quicktey</div>
                <div class="row">
                    <div class="col-auto console-label rounded-1 m-1 px-2 py-1">PC</div>
                    <div class="col-auto console-label rounded-1 m-1 px-2 py-1">PS5</div>
                    <div class="col-auto console-label rounded-1 m-1 px-2 py-1">SWITCH</div>
                </div>
                <div class="row games">
                    Apex Legends / Horizon Forbidden West / Fall Guys
                </div>
            </div>
        </div>
        <div class="row">
            I identify as he / him<br/>
            Developer<br />
            Gamer<br />
        </div>
        <div class="row my-2">
            <div class="col mx-1"><button class="btn gradient-btn">Add post</button></div>
            <div class="col mx-1"><button class="btn gradient-btn">Settings</button></div>
        </div>
        <button class="btn gradient-btn w-100 my-2">Add post</button>
    </div>
    <div class="profile-posts text-center h-100 align-items-center">
        <div>No content added yet</div>
    </div>
</div>

@code {

}
