@page "/register"

<form id="register-form">
    <h3>Register</h3>
    <div class="form-group">
        <label for="username-input">Username</label>
        <div id="username-input-div">
            <input type="text" id="username-input" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="email-input">E-Mail</label>
        <div id="email-input-div">
            <input type="email" id="email-input" class="form-control" placeholder="E-Mail">
        </div>
    </div>
    <div class="form-group">
        <label for="password-input">Password</label>
        <div id="password-input-div">
            <input type="password" id="password-input" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="repeat-password-input">Repeat password</label>
        <div id="repeat-password-input-div">
            <input type="password" id="repeat-password-input" class="form-control" placeholder="Repeat password">
        </div>
    </div>
    <div class="form-group">
        <div id="register-btn-div">
            <button id="register-btn" class="gradient-btn w-100">Register</button>
        </div>
    </div>
    <div id="switch-link-div" class="form-group">
        <a href="login.html">Go to login</a>
    </div>
</form>

@code {

}
