<div class="row lightblakc-background">
    <div class="col-auto align-self-center">
        <h1 id="share-sphare-title-text">ShareSphere</h1>
    </div>
    <div class="col align-self-center">
        <button id="share-sphare-title-btn"><i class="bi bi-three-dots"></i></button>
    </div>
</div>

@code {

}