<div class="bottom-0 start-0 position-fixed vw-100 new-navbar">
	<nav class="row">
		<div class="px-3 col icon-items text-center">
			<NavLink href="" Match="NavLinkMatch.All">
				<span class="bi bi-dpad-fill" aria-hidden="true"></span>
			</NavLink>
		</div>
		<div class="px-3 col text-center icon-items">
			<NavLink href="explore">
				<span class="bi bi-infinity" aria-hidden="true"></span>
			</NavLink>
		</div>
		<div class="px-3 col icon-items text-center">
			<NavLink href="profile">
				<img src="/images/bot_fill.png" class="img-icon" />
			</NavLink>
		</div>
	</nav>
</div>

@code {

}
